<header class="header">
  <div class="header__brand">Secure Medical Records</div>

  <div class="header__right">
    <span>{{ username }}</span>
    <button class="header__button" (click)="logout()">Logout</button>
  </div>
</header>

<div class="user-info-bar">
  <span class="user-info-bar__item"><strong>Email:</strong> {{ email }}</span>
  <span class="user-info-bar__item"><strong>Name:</strong> {{ firstName }} {{ lastName }}</span>
  <span class="user-info-bar__item"><strong>Role:</strong> {{ role }}</span>
</div>

<nav class="nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
  <a *ngIf="role==='PATIENT'" routerLink="/my-doctors" routerLinkActive="active">Mes médecins</a>
  <a *ngIf="role==='PATIENT'" routerLink="/pending-files" routerLinkActive="active">Fichiers en attente</a>
</nav>
